In [ ]:
import tensorflow as tf
from tensorflow.keras.layers import Embedding, Dense, Input, Flatten, concatenate,LSTM,Dropout
from tensorflow.keras.models import Model
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

In [ ]:
def ncf_model(arch):
  user_input = Input(shape=(1,), name = 'user_input')
  embed_user = Embedding(input_dim=nb_users, output_dim=64, input_length=1)(user_input)
  embed_user = Flatten()(embed_user)


  hotel_input = Input(shape=(1,), name = 'item_input')
  embed_hotel = Embedding(input_dim=nb_hotels, output_dim=64, input_length=1)(hotel_input)
  embed_hotel = Flatten()(embed_hotel)

  layers0 = concatenate([embed_user,embed_hotel])

  if len(arch)>1:

    hidden = Dense(arch[0],activation='relu')(layers0)

    for j in range(1,len(arch)):
      hidden = Dense(arch[j],activation='relu')(hidden)
  else:
    hidden = Dense(8,activation='relu')(layers0) 

  out = Dense(5)(hidden)
  model = Model(inputs=[user_input, hotel_input], 
                  outputs=out)
  
  model.compile(optimizer='adam',loss='mae',metrics=['mae'])

  return model

In [ ]:
df = pd.DataFrame(data={'alpha':[],'beta':[],	'mean mae':[],	'mae_cleanliness':[],
                        'mae_location':[],'mae_rooms':[],'mae_service':[],'mae_sleep':[],'mae_value':[],	
                        'mean rmse':[], 'rmse_cleanliness':[],'rmse_location':[],'rmse_rooms':[],	
                        'rmse_service':[],'rmse_sleep':[],'rmse_value':[]})
df

Empty DataFrame
Columns: [alpha, beta, mean mae, mae_cleanliness, mae_location, mae_rooms, mae_service, mae_sleep, mae_value, mean rmse, rmse_cleanliness, rmse_location, rmse_rooms, rmse_service, rmse_sleep, rmse_value]
Index: []

In [ ]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.neighbors import DistanceMetric
kf = KFold(n_splits=5,random_state=24,shuffle=True)



dist = DistanceMetric.get_metric('hamming')




value_alpha = [0.7,0.5,0.3]
dic_alpha = {}
for alpha in value_alpha:

        dic_alpha[alpha] = {}
        dic_alpha[alpha]['mae_clean'] = []
        dic_alpha[alpha]['mae_location'] = []
        dic_alpha[alpha]['mae_rooms'] = []
        dic_alpha[alpha]['mae_service'] = []
        dic_alpha[alpha]['mae_value'] = []
        dic_alpha[alpha]['mae_mean'] = []

        dic_alpha[alpha]['rmse_clean'] = []
        dic_alpha[alpha]['rmse_location'] = []
        dic_alpha[alpha]['rmse_rooms'] = []
        dic_alpha[alpha]['rmse_service'] = []
        dic_alpha[alpha]['rmse_value'] = []
        dic_alpha[alpha]['rmse_mean'] = []
k=7
for i in range(1,6):
    pred_Bert_cf = []
    train_data = pd.read_csv('/content/drive/MyDrive/fold_with_sentiment'+str(i)+'_train.csv')
    test_data = pd.read_csv('/content/drive/MyDrive/fold_with_sentiment'+str(i)+'_test.csv')
    train_data.shape , test_data.shape
    nb_users = int(max(train_data.user_id.unique())+1)
    nb_hotels = int(max(train_data.offering_id.unique())+1)
    nb_users, nb_hotels

    ncf = ncf_model([128,64,32,16,8])

    y = train_data[['cleanliness','location','rooms','service','value']].values
    y_test = test_data[['cleanliness','location','rooms','service','value']].values
    callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=3)
    ncf.fit([train_data.user_id.values,train_data.offering_id.values],y,validation_split=0.1,callbacks=[callback],
              
              epochs=20,batch_size=128)
    ncf_pred = ncf.predict([test_data.user_id.values,test_data.offering_id.values])
    cmp=0
    for idx,row in test_data.iterrows():
      cmp+=1
      precedent_data = train_data[train_data['user_id']==row['user_id']]
      precedent_hotels = precedent_data.offering_id.values
      prcd_reviews = precedent_data.text.values
      hotel_id = row['offering_id']
      
      if hotel_id in train_data.offering_id.values:
        precedent_data = train_data[train_data['user_id']==row['user_id']]

        if precedent_data.shape[0] > 0:

          precedent_hotels = precedent_data.offering_id.values
          prcd_reviews = precedent_data.sentiment_score.values
          
        
          prcedent_data_sentiment_review = {}
          for h_id,rev in zip(precedent_hotels,prcd_reviews):
            
            
            prcedent_data_sentiment_review[h_id] = rev
            
          
          user = row['user_id']

          maybe_sim_users = []
          sim = {}
          if cmp%100==0:
            print('rest',test_data.shape[0] - cmp)

          users = train_data[train_data['offering_id']==hotel_id].user_id.unique()
          for user1 in users:
            if (user1 != user):
              

              user1_data = train_data[train_data['user_id']==user1]
              sim_items = set(precedent_hotels).intersection(set(user1_data.offering_id.values))
              if len(sim_items) > 1:
                  
                  maybe_sim_users.append(user1)
                
                  user_rat = []
                  user1_rat = []
                  for item in sim_items:
                    
                    user_rat.append(prcedent_data_sentiment_review[item])

                  for item in sim_items:
                    rev = user1_data[user1_data['offering_id']==item].sentiment_score.values
                    
                    
                    user1_rat.append(rev[0])
                  
                  if (1 - dist.pairwise([user_rat],[user1_rat])[0][0])> 0.5:
                    sim[user1] = 1 - dist.pairwise([user_rat],[user1_rat])[0][0]
          
          if len(sim.keys())>0: #similar users
            rat = [0.0,0.0,0.0,0.0,0.0]
            sum_sim = 0.0
            for user1 in list(sim.keys())[:k]:
              rat += sim[user1] * train_data[(train_data['user_id']==user1) & (train_data['offering_id']==hotel_id ) ][['cleanliness','location','rooms','service','value']].values[0]
              sum_sim+= sim[user1]
            rat = rat / sum_sim
          
          
          else : #no similar users
            rat = [0.0,0.0,0.0,0.0,0.0]
            for i,col in zip([0,1,2,3,4],['cleanliness','location','rooms','service','value']):
              rat[i] = np.mean(train_data[train_data['offering_id']==hotel_id][[col]].values)
          
        else: #new_user
            rat = [0.0,0.0,0.0,0.0,0.0]
            for i,col in zip([0,1,2,3,4],['cleanliness','location','rooms','service','value']):
              rat[i] = np.mean(train_data[train_data['offering_id']==hotel_id][[col]].values)  

      elif train_data[train_data['user_id']==row['user_id']].shape[0]>0: #new_item
        rat = [0.0,0.0,0.0,0.0,0.0]
        for i,col in zip([0,1,2,3,4],['cleanliness','location','rooms','service','value']):
            rat[i] = np.mean(precedent_data[[col]].values)
      else: #new_user , new_item
        #rnd_petubation = random.uniform(-1,1)
        #val = rnd_petubation + 3.0
        rat = [3.0,3.0,3.0,3.0,3.0]
      pred_Bert_cf.append(rat.copy())

    pred_Bert_cf = np.array(pred_Bert_cf)

    
    for alpha in value_alpha:
      pred = alpha*ncf_pred + (1-alpha)*pred_Bert_cf
      pred = np.array(pred)
      dic_alpha[alpha]['mae_clean'].append(mae(pred[:,0],y_test[:,0]))
      dic_alpha[alpha]['mae_location'].append(mae(pred[:,1],y_test[:,1]))
      dic_alpha[alpha]['mae_rooms'].append(mae(pred[:,2],y_test[:,2]))
      dic_alpha[alpha]['mae_service'].append(mae(pred[:,3],y_test[:,3]))
      dic_alpha[alpha]['mae_value'].append(mae(pred[:,4],y_test[:,4]))
      dic_alpha[alpha]['mae_mean'].append(mae(pred,y_test))

      dic_alpha[alpha]['rmse_clean'].append(mse(pred[:,0],y_test[:,0],squared=False))
      dic_alpha[alpha]['rmse_location'].append(mse(pred[:,1],y_test[:,1],squared=False))
      dic_alpha[alpha]['rmse_rooms'].append(mse(pred[:,2],y_test[:,2],squared=False))
      dic_alpha[alpha]['rmse_service'].append(mse(pred[:,3],y_test[:,3],squared=False))
      dic_alpha[alpha]['rmse_value'].append(mse(pred[:,4],y_test[:,4],squared=False))
      dic_alpha[alpha]['rmse_mean'].append(mse(pred,y_test,squared=False))

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_distance_metric.py:14: FutureWarning: sklearn.neighbors.DistanceMetric has been moved to sklearn.metrics.DistanceMetric in 1.0. This import path will be removed in 1.3
  category=FutureWarning,

Epoch 1/20
55/55 [==============================] - 4s 8ms/step - loss: 3.4135 - mae: 3.4135 - val_loss: 1.9481 - val_mae: 1.9481
Epoch 2/20
55/55 [==============================] - 0s 5ms/step - loss: 1.4899 - mae: 1.4899 - val_loss: 1.3715 - val_mae: 1.3715
Epoch 3/20
55/55 [==============================] - 0s 5ms/step - loss: 1.0519 - mae: 1.0519 - val_loss: 1.1298 - val_mae: 1.1298
Epoch 4/20
55/55 [==============================] - 0s 5ms/step - loss: 0.7917 - mae: 0.7917 - val_loss: 0.9605 - val_mae: 0.9605
Epoch 5/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6774 - mae: 0.6774 - val_loss: 0.9194 - val_mae: 0.9194
Epoch 6/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6601 - mae: 0.6601 - val_loss: 0.9371 - val_mae: 0.9371
Epoch 7/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6444 - mae: 0.6444 - val_loss: 0.8963 - val_mae: 0.8963
Epoch 8/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6306 - mae: 0.6306 - val_loss: 0.8895 - val_mae: 0.8895
Epoch 9/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6134 - mae: 0.6134 - val_loss: 0.8982 - val_mae: 0.8982
Epoch 10/20
55/55 [==============================] - 0s 6ms/step - loss: 0.5927 - mae: 0.5927 - val_loss: 0.9306 - val_mae: 0.9306
Epoch 11/20
55/55 [==============================] - 0s 5ms/step - loss: 0.5638 - mae: 0.5638 - val_loss: 0.9131 - val_mae: 0.9131
rest 1834
rest 1734
rest 1634
rest 1534
rest 1434
rest 1334
rest 1234
rest 1134
rest 1034
rest 934
rest 734
rest 634
rest 534
rest 434
rest 334
rest 234
rest 134
rest 34
Epoch 1/20
55/55 [==============================] - 1s 7ms/step - loss: 3.8075 - mae: 3.8075 - val_loss: 3.4269 - val_mae: 3.4269
Epoch 2/20
55/55 [==============================] - 0s 5ms/step - loss: 3.0370 - mae: 3.0370 - val_loss: 2.9902 - val_mae: 2.9902
Epoch 3/20
55/55 [==============================] - 0s 5ms/step - loss: 2.6831 - mae: 2.6831 - val_loss: 2.7246 - val_mae: 2.7246
Epoch 4/20
55/55 [==============================] - 0s 5ms/step - loss: 2.3942 - mae: 2.3942 - val_loss: 2.4329 - val_mae: 2.4329
Epoch 5/20
55/55 [==============================] - 0s 5ms/step - loss: 2.1098 - mae: 2.1098 - val_loss: 2.2071 - val_mae: 2.2071
Epoch 6/20
55/55 [==============================] - 0s 5ms/step - loss: 1.8556 - mae: 1.8556 - val_loss: 1.9882 - val_mae: 1.9882
Epoch 7/20
55/55 [==============================] - 0s 5ms/step - loss: 1.6732 - mae: 1.6732 - val_loss: 1.8648 - val_mae: 1.8648
Epoch 8/20
55/55 [==============================] - 0s 5ms/step - loss: 1.5302 - mae: 1.5302 - val_loss: 1.6885 - val_mae: 1.6885
Epoch 9/20
55/55 [==============================] - 0s 5ms/step - loss: 1.3908 - mae: 1.3908 - val_loss: 1.6103 - val_mae: 1.6103
Epoch 10/20
55/55 [==============================] - 0s 5ms/step - loss: 1.2589 - mae: 1.2589 - val_loss: 1.4842 - val_mae: 1.4842
Epoch 11/20
55/55 [==============================] - 0s 5ms/step - loss: 1.1329 - mae: 1.1329 - val_loss: 1.3991 - val_mae: 1.3991
Epoch 12/20
55/55 [==============================] - 0s 5ms/step - loss: 1.0124 - mae: 1.0124 - val_loss: 1.2966 - val_mae: 1.2966
Epoch 13/20
55/55 [==============================] - 0s 5ms/step - loss: 0.9039 - mae: 0.9039 - val_loss: 1.2352 - val_mae: 1.2352
Epoch 14/20
55/55 [==============================] - 0s 5ms/step - loss: 0.7920 - mae: 0.7920 - val_loss: 1.1463 - val_mae: 1.1463
Epoch 15/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6793 - mae: 0.6793 - val_loss: 1.0466 - val_mae: 1.0466
Epoch 16/20
55/55 [==============================] - 0s 5ms/step - loss: 0.5727 - mae: 0.5727 - val_loss: 1.0163 - val_mae: 1.0163
Epoch 17/20
55/55 [==============================] - 0s 5ms/step - loss: 0.5029 - mae: 0.5029 - val_loss: 0.9828 - val_mae: 0.9828
Epoch 18/20
55/55 [==============================] - 0s 5ms/step - loss: 0.4817 - mae: 0.4817 - val_loss: 1.0056 - val_mae: 1.0056
Epoch 19/20
55/55 [==============================] - 0s 5ms/step - loss: 0.4774 - mae: 0.4774 - val_loss: 0.9605 - val_mae: 0.9605
Epoch 20/20
55/55 [==============================] - 0s 5ms/step - loss: 0.4692 - mae: 0.4692 - val_loss: 0.9916 - val_mae: 0.9916
rest 1834
rest 1734
rest 1634
rest 1534
rest 1334
rest 1234
rest 1134
rest 1034
rest 934
rest 834
rest 734
rest 634
rest 534
rest 434
rest 334
rest 234
rest 134
rest 34
Epoch 1/20
55/55 [==============================] - 1s 8ms/step - loss: 3.2508 - mae: 3.2508 - val_loss: 1.9303 - val_mae: 1.9303
Epoch 2/20
55/55 [==============================] - 0s 5ms/step - loss: 1.4105 - mae: 1.4105 - val_loss: 1.2008 - val_mae: 1.2008
Epoch 3/20
55/55 [==============================] - 0s 5ms/step - loss: 0.8956 - mae: 0.8956 - val_loss: 0.9593 - val_mae: 0.9593
Epoch 4/20
55/55 [==============================] - 0s 5ms/step - loss: 0.7138 - mae: 0.7138 - val_loss: 0.9234 - val_mae: 0.9234
Epoch 5/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6790 - mae: 0.6790 - val_loss: 0.8895 - val_mae: 0.8895
Epoch 6/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6623 - mae: 0.6623 - val_loss: 0.9137 - val_mae: 0.9137
Epoch 7/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6494 - mae: 0.6494 - val_loss: 0.8599 - val_mae: 0.8599
Epoch 8/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6363 - mae: 0.6363 - val_loss: 0.9270 - val_mae: 0.9270
Epoch 9/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6149 - mae: 0.6149 - val_loss: 0.8772 - val_mae: 0.8772
Epoch 10/20
55/55 [==============================] - 0s 5ms/step - loss: 0.5881 - mae: 0.5881 - val_loss: 0.8738 - val_mae: 0.8738
rest 1834
rest 1734
rest 1634
rest 1534
rest 1434
rest 1334
rest 1234
rest 1134
rest 1034
rest 834
rest 734
rest 634
rest 534
rest 434
rest 334
rest 234
rest 134
rest 34
Epoch 1/20
55/55 [==============================] - 1s 8ms/step - loss: 3.5697 - mae: 3.5697 - val_loss: 2.9056 - val_mae: 2.9056
Epoch 2/20
55/55 [==============================] - 0s 5ms/step - loss: 2.3093 - mae: 2.3093 - val_loss: 1.8124 - val_mae: 1.8124
Epoch 3/20
55/55 [==============================] - 0s 5ms/step - loss: 1.1980 - mae: 1.1980 - val_loss: 0.9997 - val_mae: 0.9997
Epoch 4/20
55/55 [==============================] - 0s 5ms/step - loss: 0.7096 - mae: 0.7096 - val_loss: 0.8456 - val_mae: 0.8456
Epoch 5/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6768 - mae: 0.6768 - val_loss: 0.9118 - val_mae: 0.9118
Epoch 6/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6644 - mae: 0.6644 - val_loss: 0.8635 - val_mae: 0.8635
Epoch 7/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6459 - mae: 0.6459 - val_loss: 0.8451 - val_mae: 0.8451
Epoch 8/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6268 - mae: 0.6268 - val_loss: 0.8668 - val_mae: 0.8668
Epoch 9/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6088 - mae: 0.6088 - val_loss: 0.8447 - val_mae: 0.8447
Epoch 10/20
55/55 [==============================] - 0s 5ms/step - loss: 0.5861 - mae: 0.5861 - val_loss: 0.9009 - val_mae: 0.9009
Epoch 11/20
55/55 [==============================] - 0s 5ms/step - loss: 0.5581 - mae: 0.5581 - val_loss: 0.9018 - val_mae: 0.9018
Epoch 12/20
55/55 [==============================] - 0s 5ms/step - loss: 0.5391 - mae: 0.5391 - val_loss: 0.8888 - val_mae: 0.8888
rest 1833
rest 1733
rest 1633
rest 1533
rest 1433
rest 1333
rest 1233
rest 1133
rest 1033
rest 933
rest 833
rest 733
rest 633
rest 533
rest 433
rest 333
rest 233
rest 133
rest 33
Epoch 1/20
55/55 [==============================] - 1s 8ms/step - loss: 3.3332 - mae: 3.3332 - val_loss: 1.6607 - val_mae: 1.6607
Epoch 2/20
55/55 [==============================] - 0s 5ms/step - loss: 0.9049 - mae: 0.9049 - val_loss: 0.9036 - val_mae: 0.9036
Epoch 3/20
55/55 [==============================] - 0s 5ms/step - loss: 0.7176 - mae: 0.7176 - val_loss: 0.8778 - val_mae: 0.8778
Epoch 4/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6821 - mae: 0.6821 - val_loss: 0.9183 - val_mae: 0.9183
Epoch 5/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6704 - mae: 0.6704 - val_loss: 0.8899 - val_mae: 0.8899
Epoch 6/20
55/55 [==============================] - 0s 5ms/step - loss: 0.6602 - mae: 0.6602 - val_loss: 0.9156 - val_mae: 0.9156
rest 1833
rest 1733
rest 1633
rest 1533
rest 1433
rest 1333
rest 1233
rest 1133
rest 1033
rest 833
rest 733
rest 633
rest 533
rest 433
rest 333
rest 233
rest 133
rest 33

In [ ]:
pd.read_csv('/content/drive/MyDrive/fold_with_sentiment'+str(i)+'_train.csv')

,overall,cleanliness,location,rooms,service,value,title,text,username,num_cities,num_helpful_votes,num_reviews,num_type_reviews,id,date_stayed,offering_id,date,via_mobile,user_id,sentiment_score
0,4.0,5.0,5.0,5.0,4.0,3.0,“Its the best of the Andaz Brand in the US....”,stayed us andaz properties one best much bette...,JamesE339,34.0,0,104.0,49.0,147612823,December 2012,1927.0,"December 17, 2012",False,626.0,1
1,4.0,5.0,5.0,5.0,4.0,5.0,“Stunningly Wonderful!”,hotels nyc space challenged would well take no...,romadaro,70.0,5,103.0,85.0,147531970,December 2012,1927.0,"December 16, 2012",False,677.0,1
2,5.0,5.0,4.0,5.0,5.0,3.0,“Unexpectedly good”,campus hotels little unpredictable one star ro...,Grotshops,35.0,0,96.0,51.0,140624089,September 2012,849.0,"September 18, 2012",False,271.0,0
3,4.0,4.0,3.0,4.0,4.0,4.0,"“Pleasant enough, but a bit overrated”",recent ever-so-brief new york visit days night...,pillowsofwanderlust,20.0,2,57.0,49.0,145940048,November 2012,1929.0,"November 22, 2012",False,224.0,1
4,4.0,4.0,4.0,5.0,4.0,4.0,“nice suprise”,booked hotel thinking another hilton property ...,beatricepugzilla,28.0,2,41.0,36.0,127060765,March 2012,849.0,"April 1, 2012",False,583.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7730,5.0,5.0,5.0,4.0,5.0,3.0,"“Great Location, would stay again”",nice hotel decor might everyones taste quite d...,CityGirl69,6.0,0,6.0,6.0,25241032,February 2009,353.0,"February 27, 2009",False,824.0,0
7731,4.0,5.0,5.0,5.0,4.0,4.0,“A nice hotel in a nice location - with staff ...,initial confusion part sent us palomar arlingt...,managementtrainer1,8.0,1,16.0,5.0,21791221,October 2008,353.0,"November 12, 2008",False,376.0,0
7732,5.0,4.0,3.0,5.0,4.0,4.0,“Hotel Palomar gets everything right”,nicely designed hotel quiet clean decent sized...,Mattonholiday,6.0,0,6.0,6.0,14683661,March 2008,353.0,"March 31, 2008",False,64.0,1
7733,3.0,4.0,5.0,4.0,4.0,4.0,“Friendly staff-noisy doors everywhere”,pros\n-friendly staff particularly doormen val...,larklaw,43.0,2,54.0,43.0,11093658,November 2007,353.0,"November 27, 2007",False,470.0,0
7734,5.0,5.0,4.0,5.0,5.0,5.0,“Excellent service”,loved hotel\nthe rooms really big quad two que...,travelhoppy,23.0,3,35.0,23.0,8681300,August 2007,353.0,"September 9, 2007",False,462.0,1

In [ ]:
!mkdir '/content/drive/MyDrive/trip_dt_mul'


%cp '/content/drive/MyDrive/Trip_multi_fold_with_sentiment1_train.csv'  '/content/drive/MyDrive/trip_dt_mul/'
%cp '/content/drive/MyDrive/Trip_multi_fold_with_sentiment1_test.csv'  '/content/drive/MyDrive/trip_dt_mul/'

%cp '/content/drive/MyDrive/Trip_multi_fold_with_sentiment2_train.csv'  '/content/drive/MyDrive/trip_dt_mul/'
%cp '/content/drive/MyDrive/Trip_multi_fold_with_sentiment2_test.csv'  '/content/drive/MyDrive/trip_dt_mul/'


%cp '/content/drive/MyDrive/Trip_multi_fold_with_sentiment3_train.csv'  '/content/drive/MyDrive/trip_dt_mul/'
%cp '/content/drive/MyDrive/Trip_multi_fold_with_sentiment3_test.csv'  '/content/drive/MyDrive/trip_dt_mul/'

%cp '/content/drive/MyDrive/Trip_multi_fold_with_sentiment4_train.csv'  '/content/drive/MyDrive/trip_dt_mul/'
%cp '/content/drive/MyDrive/Trip_multi_fold_with_sentiment4_test.csv'  '/content/drive/MyDrive/trip_dt_mul/'

%cp '/content/drive/MyDrive/Trip_multi_fold_with_sentiment5_train.csv'  '/content/drive/MyDrive/trip_dt_mul/'
%cp '/content/drive/MyDrive/Trip_multi_fold_with_sentiment5_test.csv'  '/content/drive/MyDrive/trip_dt_mul/'

mkdir: cannot create directory ‘/content/drive/MyDrive/trip_dt_mul’: File exists

In [ ]:
dic_alpha

{0.3: {'mae_clean': [0.7615778903268179,
   0.7678412040494637,
   0.7435934867137031,
   0.7331988387267072,
   0.7728479189789685],
  'mae_location': [0.6549028874152865,
   0.665609373815777,
   0.6234117435274813,
   0.6531059591326951,
   0.6430278127524098],
  'mae_mean': [0.8185127666057099,
   0.811254536724355,
   0.8096892576485445,
   0.8068898564471587,
   0.8224245612102257],
  'mae_rooms': [0.8552351412716566,
   0.8510805368148716,
   0.8669278221247365,
   0.8580116349392676,
   0.848806848367085],
  'mae_service': [0.8707434171347097,
   0.8522020635840604,
   0.8745178628502328,
   0.8585069581273979,
   0.8912846761837243],
  'mae_value': [0.9501044968800777,
   0.9195395053575967,
   0.9399953730265658,
   0.9316258913097215,
   0.9561555497689357],
  'rmse_clean': [1.0476817905653375,
   1.0519083605904693,
   1.0248612698677573,
   1.00704810957343,
   1.0517561889220148],
  'rmse_location': [0.9053560142330266,
   0.9082854635027591,
   0.8763508610343725,
   0.8962807435520809,
   0.9088967866466201],
  'rmse_mean': [1.0952955565167906,
   1.0830555668532953,
   1.089823655968582,
   1.0751046717745938,
   1.09302499593659],
  'rmse_rooms': [1.1153424350878212,
   1.1056334797422498,
   1.137293513996706,
   1.1245696977097943,
   1.1038405173626904],
  'rmse_service': [1.183524273342348,
   1.1604084096422083,
   1.1960149004926357,
   1.1418852182925203,
   1.1934310385807518],
  'rmse_value': [1.2245732693554177,
   1.1890421207887896,
   1.2145977344514396,
   1.2057395897451453,
   1.2072004481708725]},
 0.5: {'mae_clean': [0.7643472923027829,
   0.7789635097364868,
   0.7435631306435043,
   0.7359492646404254,
   0.7688227903193142],
  'mae_location': [0.6672622204693821,
   0.6887549516871787,
   0.6306834935611572,
   0.664445185949662,
   0.6557950824659521],
  'mae_mean': [0.8195783858825789,
   0.8190265695924674,
   0.8054160875309012,
   0.8070971778428501,
   0.8203255674319007],
  'mae_rooms': [0.8554217519507854,
   0.8570183382212266,
   0.8607240927296657,
   0.8611384612980403,
   0.848068997529352],
  'mae_service': [0.8694949511903645,
   0.8503008090835973,
   0.8626326365045444,
   0.8541288871554876,
   0.882489404058916],
  'mae_value': [0.9413657134995812,
   0.9200952392338515,
   0.9294770842156295,
   0.9198240901706355,
   0.9464515627859653],
  'rmse_clean': [1.0491550190687355,
   1.0560399033875314,
   1.0209550099266282,
   1.0062606370803742,
   1.0439740352280409],
  'rmse_location': [0.910583605351747,
   0.9245977505712891,
   0.8788267513916924,
   0.9006971143271199,
   0.9114295660348516],
  'rmse_mean': [1.0933930086806094,
   1.086369176637847,
   1.0836192505781095,
   1.0735195011248309,
   1.086124823069527],
  'rmse_rooms': [1.11425137210934,
   1.107594402570973,
   1.1311268746005843,
   1.1293422224657141,
   1.1005982400586387],
  'rmse_service': [1.1788080733756237,
   1.1544086812739252,
   1.1830964607460206,
   1.136936174038875,
   1.1799287290868314],
  'rmse_value': [1.2141669734976175,
   1.1892051453855341,
   1.2040911562256396,
   1.194361357712085,
   1.194693544939289]},
 0.7: {'mae_clean': [0.7747891327586729,
   0.7975405713328207,
   0.7487202816431068,
   0.7465624994034988,
   0.7695914276697133],
  'mae_location': [0.6878191415365463,
   0.7217960359900191,
   0.6459346220482772,
   0.6833335963638536,
   0.6749542559917109],
  'mae_mean': [0.8289051691060081,
   0.8352715749401319,
   0.8076422403727064,
   0.8156362408285525,
   0.824242087376389],
  'mae_rooms': [0.8641243116813023,
   0.8714477186398972,
   0.8595444166353272,
   0.8721797599428179,
   0.8544288490579084],
  'mae_service': [0.8761049686603808,
   0.8554424028828129,
   0.8571943339545863,
   0.856585574680912,
   0.8790050655116025],
  'mae_value': [0.9416882908931454,
   0.9301311458551144,
   0.9268175475822356,
   0.919519773751684,
   0.9432308386510128],
  'rmse_clean': [1.0620798144940937,
   1.0757887654416425,
   1.0265412118473078,
   1.0177172653307158,
   1.04722103011858],
  'rmse_location': [0.9317094686380554,
   0.9609823625479684,
   0.8963142030701743,
   0.9218275446235205,
   0.9274450667801812],
  'rmse_mean': [1.104669938983747,
   1.1059766393904273,
   1.0887850517853246,
   1.0856143049964069,
   1.0912704881806452],
  'rmse_rooms': [1.1263943424867486,
   1.1260766468789067,
   1.1354829979951304,
   1.146944619319489,
   1.1096431623448975],
  'rmse_service': [1.1866467367004632,
   1.1623150045751027,
   1.180631521074866,
   1.1453441466753942,
   1.1779054822985966],
  'rmse_value': [1.2165193325993844,
   1.2047204175085273,
   1.2049553249391551,
   1.1962379490329218,
   1.1941376993609831]}}

In [ ]:
dic_final = {}
for alpha in value_alpha:
  dic_final[alpha] = {}
  for key in dic_alpha[alpha].keys():
    dic_final[alpha][key] = np.mean(dic_alpha[alpha][key])

In [ ]:
dic_final

{0.3: {'mae_clean': 0.7558118677591321,
  'mae_location': 0.6480115553287299,
  'mae_mean': 0.8137541957271986,
  'mae_rooms': 0.8560123967035235,
  'mae_service': 0.869450995576025,
  'mae_value': 0.9394841632685795,
  'rmse_clean': 1.0366511439038018,
  'rmse_location': 0.8990339737937718,
  'rmse_mean': 1.0872608894099702,
  'rmse_rooms': 1.1173359287798523,
  'rmse_service': 1.175052768070093,
  'rmse_value': 1.2082306325023329},
 0.5: {'mae_clean': 0.7583291975285027,
  'mae_location': 0.6613881868266664,
  'mae_mean': 0.8142887576561396,
  'mae_rooms': 0.8564743283458138,
  'mae_service': 0.863809337598582,
  'mae_value': 0.9314427379811325,
  'rmse_clean': 1.0352769209382622,
  'rmse_location': 0.90522695753534,
  'rmse_mean': 1.0846051520181847,
  'rmse_rooms': 1.11658262236105,
  'rmse_service': 1.1666356237042552,
  'rmse_value': 1.1993036355520332},
 0.7: {'mae_clean': 0.7674407825615626,
  'mae_location': 0.6827675303860815,
  'mae_mean': 0.8223394625247575,
  'mae_rooms': 0.8643450111914508,
  'mae_service': 0.8648664691380589,
  'mae_value': 0.9322775193466384,
  'rmse_clean': 1.045869617446468,
  'rmse_location': 0.9276557291319799,
  'rmse_mean': 1.0952632846673103,
  'rmse_rooms': 1.1289083538050344,
  'rmse_service': 1.1705685782648847,
  'rmse_value': 1.2033141446881943}}

In [ ]:
import json
with open("/content/drive/MyDrive/finally_NCF+BERT_cf_with_callback.json", "w") as outfile:
    json.dump(dic_final, outfile)

#Alpha 0.7 beta 0.3

In [ ]:
pred = 0.7*ncf_pred + 0.3*pred_Bert_cf
mae(pred,y_test)

0.8222287391593394

#Alpha 0.5 beta 0.5

In [ ]:
pred = 0.5*ncf_pred + 0.5*pred_Bert_cf
mae(pred,y_test)

0.8178455189825333

#Alpha 0.3 beta 0.7

In [ ]:
pred = 0.3*ncf_pred + 0.7*pred_Bert_cf
mae(pred,y_test)

0.8234194200785353